<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.focustech.mic.dao.CaseResultMapper" >
  <resultMap id="BaseResultMap" type="com.focustech.mic.pojo.CaseResult" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="case_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="result_code" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="result_message" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="DATE" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, case_id, result_code, result_message, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from case_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from case_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.focustech.mic.pojo.CaseResult" >
    insert into case_result (id, case_id, result_code, 
      result_message, create_time)
    values (#{id,jdbcType=INTEGER}, #{caseId,jdbcType=INTEGER}, #{resultCode,jdbcType=INTEGER}, 
      #{resultMessage,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.focustech.mic.pojo.CaseResult" >
    insert into case_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="caseId != null" >
        case_id,
      </if>
      <if test="resultCode != null" >
        result_code,
      </if>
      <if test="resultMessage != null" >
        result_message,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="resultCode != null" >
        #{resultCode,jdbcType=INTEGER},
      </if>
      <if test="resultMessage != null" >
        #{resultMessage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.focustech.mic.pojo.CaseResult" >
    update case_result
    <set >
      <if test="caseId != null" >
        case_id = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="resultCode != null" >
        result_code = #{resultCode,jdbcType=INTEGER},
      </if>
      <if test="resultMessage != null" >
        result_message = #{resultMessage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.focustech.mic.pojo.CaseResult" >
    update case_result
    set case_id = #{caseId,jdbcType=INTEGER},
      result_code = #{resultCode,jdbcType=INTEGER},
      result_message = #{resultMessage,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>