<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.focustech.mic.dao.MicCaseMapper">
  <resultMap id="BaseResultMap" type="com.focustech.mic.pojo.MicCase">
    <constructor>
      <idArg column="case_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="case_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="case_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="project_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="csrf_token" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="page_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="data_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="data_header" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="data_send" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="data_expect" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="case_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="adder_no" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="adder_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_no" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="update_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    case_id, case_name, case_desc, project_id, csrf_token, page_url, data_url, data_header, 
    data_send, data_expect, case_status, adder_no, adder_name, create_time, update_no,
    update_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mic_case
    where case_id = #{caseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mic_case
    where case_id = #{caseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.focustech.mic.pojo.MicCase">
    insert into mic_case (case_id, case_name, case_desc, 
      project_id, csrf_token, page_url, 
      data_url, data_header, data_send, 
      data_expect, case_status, adder_no,
      adder_name, create_time, update_no, 
      update_name, update_time)
    values (#{caseId,jdbcType=INTEGER}, #{caseName,jdbcType=VARCHAR}, #{caseDesc,jdbcType=VARCHAR}, 
      #{projectId,jdbcType=INTEGER}, #{csrfToken,jdbcType=INTEGER}, #{pageUrl,jdbcType=VARCHAR}, 
      #{dataUrl,jdbcType=VARCHAR}, #{dataHeader,jdbcType=VARCHAR}, #{dataSend,jdbcType=VARCHAR}, 
      #{dataExpect,jdbcType=VARCHAR}, #{caseStatus,jdbcType=INTEGER}, #{adderNo,jdbcType=INTEGER},
      #{adderName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateNo,jdbcType=INTEGER}, 
      #{updateName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.focustech.mic.pojo.MicCase">
    insert into mic_case
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="caseId != null">
        case_id,
      </if>
      <if test="caseName != null">
        case_name,
      </if>
      <if test="caseDesc != null">
        case_desc,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="csrfToken != null">
        csrf_token,
      </if>
      <if test="pageUrl != null">
        page_url,
      </if>
      <if test="dataUrl != null">
        data_url,
      </if>
      <if test="dataHeader != null">
        data_header,
      </if>
      <if test="dataSend != null">
        data_send,
      </if>
      <if test="dataExpect != null">
        data_expect,
      </if>
      <if test="caseStatus != null">
        case_status,
      </if>
      <if test="adderNo != null">
        adder_no,
      </if>
      <if test="adderName != null">
        adder_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateNo != null">
        update_no,
      </if>
      <if test="updateName != null">
        update_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseName != null">
        #{caseName,jdbcType=VARCHAR},
      </if>
      <if test="caseDesc != null">
        #{caseDesc,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="csrfToken != null">
        #{csrfToken,jdbcType=INTEGER},
      </if>
      <if test="pageUrl != null">
        #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="dataUrl != null">
        #{dataUrl,jdbcType=VARCHAR},
      </if>
      <if test="dataHeader != null">
        #{dataHeader,jdbcType=VARCHAR},
      </if>
      <if test="dataSend != null">
        #{dataSend,jdbcType=VARCHAR},
      </if>
      <if test="dataExpect != null">
        #{dataExpect,jdbcType=VARCHAR},
      </if>
      <if test="caseStatus != null">
        #{caseStatus,jdbcType=INTEGER},
      </if>
      <if test="adderNo != null">
        #{adderNo,jdbcType=INTEGER},
      </if>
      <if test="adderName != null">
        #{adderName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateNo != null">
        #{updateNo,jdbcType=INTEGER},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.focustech.mic.pojo.MicCase">
    update mic_case
    <set>
      <if test="caseName != null">
        case_name = #{caseName,jdbcType=VARCHAR},
      </if>
      <if test="caseDesc != null">
        case_desc = #{caseDesc,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="csrfToken != null">
        csrf_token = #{csrfToken,jdbcType=INTEGER},
      </if>
      <if test="pageUrl != null">
        page_url = #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="dataUrl != null">
        data_url = #{dataUrl,jdbcType=VARCHAR},
      </if>
      <if test="dataHeader != null">
        data_header = #{dataHeader,jdbcType=VARCHAR},
      </if>
      <if test="dataSend != null">
        data_send = #{dataSend,jdbcType=VARCHAR},
      </if>
      <if test="dataExpect != null">
        data_expect = #{dataExpect,jdbcType=VARCHAR},
      </if>
      <if test="caseStatus != null">
        case_status = #{caseStatus,jdbcType=INTEGER},
      </if>
      <if test="adderNo != null">
        adder_no = #{adderNo,jdbcType=INTEGER},
      </if>
      <if test="adderName != null">
        adder_name = #{adderName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateNo != null">
        update_no = #{updateNo,jdbcType=INTEGER},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where case_id = #{caseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.focustech.mic.pojo.MicCase">
    update mic_case
    set case_name = #{caseName,jdbcType=VARCHAR},
      case_desc = #{caseDesc,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      csrf_token = #{csrfToken,jdbcType=INTEGER},
      page_url = #{pageUrl,jdbcType=VARCHAR},
      data_url = #{dataUrl,jdbcType=VARCHAR},
      data_header = #{dataHeader,jdbcType=VARCHAR},
      data_send = #{dataSend,jdbcType=VARCHAR},
      data_expect = #{dataExpect,jdbcType=VARCHAR},
      case_status = #{caseStatus,jdbcType=INTEGER},
      adder_no = #{adderNo,jdbcType=INTEGER},
      adder_name = #{adderName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_no = #{updateNo,jdbcType=INTEGER},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where case_id = #{caseId,jdbcType=INTEGER}
  </update>

  <select id="selectByPId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mic_case
    <if test="project_id != null and project_id != ''">
      where project_id = #{pid,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectCaseListByIds" parameterType="java.util.ArrayList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mic_case where 1=1
    <foreach collection="caseIds" open="(" separator="," close=")" item="caseId">
      and case_id = #{caseId}
    </foreach>
  </select>

</mapper>